@model MovieRental.Models.Customer

@{
    ViewBag.Title = "Details";
}
</br>
<h2 style="color: #3EB489">Customer Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <strong>Name: </strong>@Html.DisplayFor(model => model.FullName)
        </dd>
        <dd>
            <strong>Membership type: </strong>@Html.DisplayFor(model => model.MembershipType.Name)
        </dd>
        @if (Model.BirthDate.HasValue)

        {
            <dd>
                <strong>Bithdate: </strong>@Html.DisplayFor(model => model.BirthDate)
            </dd>
        }
        </dl>
</div>

