@model IEnumerable<MovieRental.Models.Customers>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
            
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @*@Html.DisplayFor(modelItem => item.FullName)*@
            @Html.ActionLink(item.FullName, "Details", "User", new { id = item.CustomerId }, null)
        </td>
        
    </tr>
}

</table>
